body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 11pt;
  min-height: 100vh;
  background-color: beige;
}

.main-container {
  margin: auto;
  max-width: 45rem;
  padding: 1rem;
}

.animacio {
  margin: 30pt;
}

.botons {
  width: 557px;
  padding: 10pt;
  text-align: center;
  border: 2px solid blue;
  border-radius: 10pt;
}

.header {
  display: flex;
  margin-bottom: 3rem;
}

.logo {
  align-self: flex-start;
  margin-right: 1rem;
}

.header-cont {
  align-self: flex-end;
}

.titol {
  font-size: 15pt;
  font-weight: bold;
  color: #05508a;
}

.itemVariant {
  display: flex;
}

.btVariant {
  margin-right: 1rem;
  text-decoration: none;
}

.titolVariant {
  display: inline-block;
  text-decoration: none;
  font-size: 14pt;
  font-weight: bold;
}

.descVariant {

}




