body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  min-height: 100vh;
  background-color: white;
}

.main-container {
  margin: auto;
  text-align: center;
  max-width: 600px;
}

.animacio {
  margin: 30pt;
}

.botons {
  width: 557px;
  padding: 10pt;
  text-align: center;
  border: 2px solid blue;
  border-radius: 10pt;
}

.logo {
  margin: 5pt;
}

.titol {
  font-size: 13pt;
  font-weight: bold;
  color: #05508a;
}



