body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 11pt;
  min-height: 100vh;
  background-color: white;
}

.main-container {
  margin: auto;
  max-width: 45rem;
  padding: 1rem;
}

.main-container a {
  text-decoration: none;
  color: #05508a;
  font-weight: bold;
}

h2 {
  color: #05508a;
  margin-top: 3rem;
}

h3 {
  color: #05508a;
  margin-bottom: 0;
  font-size: 12pt;
}

h3 + p {
  margin-top: 0.5pt;
}

.espaiat li {
  margin-bottom: 0.5rem;
}

.bullet {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.animacio {
  margin: 30pt;
}

.botons {
  width: 557px;
  padding: 10pt;
  text-align: center;
  border: 2px solid #05508a;
  border-radius: 10pt;
}

.back {
  margin-top: 2rem;
}

.header {
  display: flex;
  margin-bottom: 3rem;
}

.targetes {
  display: flex;
  flex-wrap: wrap;
}

.targetes figure {
  width: 120px;
  border: 2px solid #05508a;
  padding: 0.8rem;
  border-radius: 10pt;
  text-align: center;
  background-color: #eff8ff;
}

.targetes figcaption {
  color: #05508a;
}

.logo {
  align-self: flex-start;
  margin-right: 1rem;
}

.header-cont {
  align-self: flex-end;
}

.titol {
  font-size: 15pt;
  font-weight: bold;
  color: #05508a;
}

.itemVariant {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.btVariant {
  margin-right: 1rem;
  text-decoration: none;
}

.titolVariant {
  display: inline-block;
  text-decoration: none;
  font-size: 14pt;
  font-weight: bold;
  color: #05508a;
}

.descVariant {
  font-size: 10pt;
}

.llista {
  width: 100%;
  border-collapse: separate;
}




